#contain{
    width: 500px;
    height: auto;
    border: 2px solid #ccc;
    padding: 150px;
    margin: 100px auto;
    background: url(../img/login.jpg) no-repeat;
    background-size: 100%;
}
#contain h1{
    line-height: 3;
    text-align: center;
}