/* 
* @Author: Marte
* @Date:   2019-02-27 20:36:55
* @Last Modified by:   Marte
* @Last Modified time: 2019-02-28 14:03:15
*/
body{width: 1300px;}
.rig{
    height: 800px;
    float: left;
}
.right{
    float: left;
    width: 1100px;
}
.layui-breadcrumb{
    display: block;
    padding: 20px 0 20px 20px;
}
.login{
    z-index: 999;
}